*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.btn-reserve{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}
.btn-reserve:hover{
    background: #d87710;
    transition: ease-out;
}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}
.Banière{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Izuba.jpg);
    background-size: cover;
}
.Banière .Contenu{
    max-width: 70%;
    text-align: center;
}
.Banière .Contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;

}
.Contenu p:nth-child(2){
    color: #000;
    font-size: 1.2em;
}
.btn1{
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a492a;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn1:hover{
    letter-spacing: 4px;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-content: center;
}
.row .col50 h2{
    margin-bottom: 20px;
}
.Tittre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.Tittre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}
.row .col50 img{
    height: 450px;
    width: 600px;
    position: relative; 
}
.Titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Menu{
    margin-top: -100px;
}
.Menu .Contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.Menu .Contenu .box{
    width: 238px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}
.Menu .Contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 250px;
}
.Menu .Contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: px;
    object-fit: cover;
}
.Menu .Contenu .box .Texte{
    text-align: center;
    font-weight: 300px;
    color: #111;
}
.Menu .Contenu .box .Texte h3{
    font-weight: 400;
}
.Expert{
    margin-top: -100px;
}
.Expert .Contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.Expert .Contenu .box{
    width: 250px;
    margin: 15px;
}
.Expert .Contenu .box img{
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    left: o;
    object-fit: cover;
}
.Expert .Contenu .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}
.Temoignage{
  background-image: url(./Alpes.jpg);
  background-size: cover;
}
.Temoignage .Contenu{
    display: flex;
    margin-top: 40px;
    width: 120%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.Temoignage .Contenu .box{
    width: 340px;
    margin: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 40px;
}
.Temoignage .Contenu .box .imbox{
    width: 100px;
    height: 120px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.Temoignage .Contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.Temoignage .Contenu .box .Texte{
    text-align: center;
    color: #666;
    font-style: italic;
}
.Temoignage .Contenu .box .Texte h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}
.Blanc .Tittre-texte{
    color: #fff;
}
.Blanc .Tittre-texte,
.Blanc p{
    color: #fff;
}
.Contact{
    background-image: url(./Mc.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.8);
    width: 100%;
    background-position: unset;
    text-align: center;
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}
.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;

}
.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transform: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}
.Copyright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0, 0.1);
    background: rgba(228,222,222,);
    text-align: center;
}
.Copyright p:nth-child(1){
    color: #333;
}
.Copyright a{
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}
header.sticky .logo{
    color: #000;
}
header.sticky .navbar li a{
    color: #000;
}
header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}


